<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <system.web>
      <sessionState mode="SQLServer" sqlConnectionString="Data Source=Rohit-PC\SQLExpress;Integrated Security=SSPI" timeout="20"></sessionState>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add connectionString="Data Source=Rohit-PC\SQLExpress;Initial Catalog=JobPortal;Integrated Security=True" 
         name="DBCS" providerName="System.Data.SqlClient;"/>    
  </connectionStrings>

</configuration>
