<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings><add name="JobPortalLogin" connectionString="metadata=res://*/loginmodel.csdl|res://*/loginmodel.ssdl|res://*/loginmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Rohit-PC\SQLExpress;initial catalog=JobPortal;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>